/* Variables */
:root {
    /* Colors */
    --backGroundGrey: #272727;
    --darkGrey: #171717;
    --mediumGrey: #383838;
    --lightGrey: #4E4E4E;
    --lightBlue: #1E9CD7;
    --lightPurple: #861ED7;
    --white: #ffffff;

    --blueTag: #69E3E8;
    --purpleTag: #7B69E8;
    --yellowTag: #FFC700;
    --redTag: #fa2abf;

    /* Margin */
    --xxsMargin: 1%;
    --xsMargin: 2%;
    --sMargin: 5%;
    --mMargin: 10%;
    --lMargin: 20%;
    --xlMargin: 30%;
    --xxlMargin: 50%;

    /* Font Size */
    --bigTitle: 2.5rem;
    /* Use with font-family: var(--bold) */
    --regularTitle: 2rem;
    /* Use with font-family: var(--bold) */
    --subtitle: 1.2rem;
    /* Use with font-family: var(--bold) */
    --smallSubtitle: 1rem;
    /* Use with font-family: var(--bold) */
    --bigText: 1.5rem;
    /* Use with font-family: var(--regular) */
    --smallText: 0.8rem;
    /* Use with font-family: var(--regular) */
    --extraSmallText: 0.7rem;
    /* Use with font-family: var(--regular) */

    /* Font Family */
    --bold: 'Poppins-Bold';
    --regular: 'Poppins-Medium';
}

body
{
    /* font-family: var(--bold); */
}

#container
{
    width: 100%;
}

#mainBox
{
    height: auto;
    max-width: 70%;
    background-color: var(--mediumGrey);
    margin: 25px auto;
    padding: 20px 0;
}

#content
{
    margin: 0 auto;
    max-width: 90%;
    /* height: 200px; */
    /* background-color: white; */
}

.title
{
    color: var(--lightBlue);
    font-weight: bold;
    font-size: var(--regularTitle);
    font-family: var(--bold);
}

.subContent
{
    max-width: 60%;
    margin: 0 auto;
}

.smallTitle
{
    font-size: var(--subtitle);
    color: white;
    font-family: var(--regular);
    margin: 10px 0;

}

input, select, textarea
{
    background-color: var(--lightGrey);
    border: none;
    color: var(--white);
    border-radius: 5px;
    height: 45px;
    width: 100%;
    padding-left: 5px;
    outline: 0;
    margin-bottom: 10px;
    font-family: var(--regular);
}

.grayButton
{
    border: none;
    font-family: var(--bold);
    color: var(--white);
    background-color: #696666;
    border-radius: 40px 0 40px 0;
    width: 200px;
    height: 50px;
    filter: drop-shadow(15px 15px 4px rgba(0, 0, 0, 0.25));
    font-size: var(--subtitle);
    cursor: pointer;
    margin-top: 30px;
}

#text
{
    float: right;
    color: var(--white);
    font-family: var(--regular);
    font-size: var(--extraSmallText);
}

.inputPequeno
{
    width: 45%;
}

/* Responsive */
@media screen and (max-width: 835px)
{
    #text
    {
        font-size: 0.5rem;
    }
}

@media screen and (max-width: 635px)
{
    textarea
    {
        font-size: 0.8rem;

    }
}

@media screen and (max-width: 550px) 
{
    #inputSalario
    {
        display: flex;
        flex-direction: column;
    }

    .inputPequeno
    {
        width: 100%;
    }

    textarea
    {
        font-size: 0.73rem;
    }
}

@media screen and (max-width: 530px) 
{
    .grayButton
    {
        width: 150px;
    }
}

@media screen and (max-width: 465px)
{
    textarea
    {
        font-size: 0.68rem;
    }
}

@media screen and (max-width: 435px)
{
    .title
    {
        font-size: 1.8rem;
    }

    select 
    {
        font-size: 0.65rem;
        height: 38px;
    }

    input
    {
        height: 38px;
    }

    textarea
    {
        font-size: 0.6rem;
    }
}

@media screen and (max-width: 412px)
{
    .title
    {
        font-size: 1.5rem;
    }

    .grayButton
    {
        width: 120px;
        font-size: medium;
    }

    .smallTitle
    {
        font-size: var(--smallSubtitle);
    }
}

@media screen and (max-width: 360px)
{
    select
    {
        font-size: 0.52rem;       
    }
}

@media screen and (max-width: 340px)
{
    .smallTitle
    {
        font-size: var(--smallText);
    }
}

@media screen and (max-width: 310px)
{
    .title
    {
        font-size: 1.35rem;       
    }

    select
    {
        width: 105%;
    }
}