@font-face {
    font-family: 'Poppins-Bold';
    src: url(../fonts/Poppins-Bold.ttf);
    font-family: 'Poppins-Medium';
    src: url(../fonts/Poppins-Medium.ttf);
}

/* Variables */
:root {
    /* Colors */
    --backGroundGrey: #272727;
    --darkGrey: #171717;
    --mediumGrey: #383838;
    --lightGrey: #4E4E4E;
    --lightBlue: #1E9CD7;
    --lightPurple: #861ED7;
    --white: #ffffff;

    /* Margin */
    --xxsMargin: 1%;
    --xsMargin: 2%;
    --sMargin: 5%;
    --mMargin: 10%;
    --lMargin: 20%;
    --xlMargin: 30%;
    --xxlMargin: 50%;

    /* Font Size */
    --bigTitle: 2, 5rem;
    /* Use with font-family: var(--bold) */
    --regularTitle: 2rem;
    /* Use with font-family: var(--bold) */
    --subtitle: 1, 5rem;
    /* Use with font-family: var(--bold) */
    --smallSubtitle: 1, 25rem;
    /* Use with font-family: var(--bold) */
    --bigText: 1, 5rem;
    /* Use with font-family: var(--regular) */
    --smallText: 1rem;
    /* Use with font-family: var(--regular) */
    --extraSmallText: 0.8rem;
    /* Use with font-family: var(--regular) */

    /* Font Family */
    --bold: 'Poppins-Bold';
    --regular: 'Poppins-Medium';
}

/* Scrollbar Configuration */
::-webkit-scrollbar {
    height: 1, 25rem;
    background-color: #ffffff05;
}

::-webkit-scrollbar-thumb {
    background-color: #ffffffaf;
    border-radius: 10px;
}

/* Body */
body {
    margin: 0;
    background-color: var(--backGroundGrey);
}

/* Header */
.divHeaderFather {
    width: 100%;
    height: 4rem;
    position: fixed;
    background-color: var(--darkGrey);
    align-items: center;
    text-align: center;
    z-index: 2;
}

.divHeaderContainer {
    max-width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttonHeader {
    height: 2rem;
    width: 10rem;
    background-color: var(--lightBlue);
    border-radius: 10px;
    border-style: none;
    font-size: var(--subtitle);
    font-family: var(--bold);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

.buttonHeader:hover {
    background-color: var(--lightPurple);
    cursor: pointer;
}

.divButtons {
    width: 48, 75rem;
    display: flex;
    align-items: center;
    justify-content: right;
}

.imgIcon {
    height: 2rem;
    margin: 0;
}

.imgProfile {
    height: 2.2rem;
    margin: 0;
    display: flex;
    align-items: center;
}

.logo {
    height: 2.2rem;
    margin: 0px;
}

/* Side Bar */
.divSideBar {
    width: 25%;
    height: 100%;
    position: fixed;
    background-color: var(--mediumGrey);
    z-index: 1;
    padding-right: 5%;
    display: flex;
    align-items: flex-start;
}

.divSideBarContainer {
    width: 80%;
    height: 70%;
    margin-left: 20%;
    margin-top: 20%;
}

.divSpaceBetween {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -10%;
}

.divSpaceBetween2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.divSpaceBetween3 {
    margin-top: 0.2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.bigTitle {
    font-family: var(--bold);
    font-size: var(--regularTitle);
    color: var(--white);
}

.bigTitle2 {
    font-family: var(--bold);
    font-size: var(--regularTitle);
    color: var(--white);
    margin: 0;
    padding-bottom: 0.5%;
}

.subtitle {
    font-family: var(--bold);
    font-size: var(--subtitle);
    color: var(--white);
}

.imgIcon2 {
    height: 2rem;
    margin: 0;
    transition: 0.5s;
}

.imgIcon2:hover {
    transform: rotate(90deg);
    cursor: pointer;
}

.divAlignLeft {
    display: contents;
    align-items: center;
    text-align: left;
    justify-content: space-between;
    margin-top: -10%;
}

.marginBox {
    height: var(--xsMargin);
}

.boxInline {
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: space-between;
}

.boxCheckbox {
    display: contents;
}

.smallText {
    font-family: var(--bold);
    font-size: var(--smallSubtitle);
    color: var(--white);
}

.checkbox {
    background-color: var(--white);
    border: none;
}

/* Search Bar */
.searchBar {
    height: 3rem;
    width: 100%;
    background-color: var(--lightGrey);
    border-radius: 5px;
    font-family: var(--bold);
    font-size: var(--subtitle);
    color: var(--white);
    border: none;
}

.searchBarSmall {
    height: 3rem;
    width: 60%;
    background-color: var(--lightGrey);
    border-radius: 5px;
    font-family: var(--bold);
    font-size: var(--subtitle);
    color: var(--white);
    border: none;
    margin-right: var(--lMargin);
}

/* Feed */
.divFeedFormatter {
    margin-left: 35%;
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.divFeedMargin {
    width: 100%;
    height: 3.8rem;
}

.divFeedMargin2 {
    width: 20rem;
    height: 3.8rem;
}

.divVaga {
    width: 100%;
    height: 31.25rem;
    padding: 1%;
    border-radius: 5px;
    background-color: var(--mediumGrey);
    display: flex;
    flex-direction: column;
    align-content: stretch;
    margin: 0;
}

.divRow {
    display: flex;
    flex-direction: row;
    align-content: stretch;
}

.divVagaCompany {
    width: 10%;
    height: 28.125rem;
}

.divVagaContent {
    width: 89%;
    margin-left: 1%;
    height: 28.125rem;
}

.profilePicture {
    width: 100%;
}

.profileName {
    padding-top: 5%;
    font-family: var(--regular);
    font-size: var(--smallSubtitle);
    color: var(--white);
}

.divDescriptionFormatter {
    width: 100%;
    height: 18.75rem;
    font-family: var(--regular);
    font-size: var(--smallText);
    color: var(--white);
    background-color: var(--lightGrey);
    display: flex;
    align-items: center;
    justify-content: center;
}

.divDescription {
    width: 97%;
    height: 100%;
    overflow-y: auto;
}

.divTagsFormatter {
    width: 100%;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divTags {
    width: 97%;
    height: 2.1875rem;
    display: flex;
    flex-direction: row;
}

.exempleTag {
    height: 2.1875rem;
    width: 6rem;
    background-color: #ffffff00;
    border-radius: 2px;
    border-color: var(--lightBlue);
    border-style: solid;
    border-width: 0.14rem;
    font-size: var(--extraSmallText);
    font-family: var(--bold);
    color: var(--lightBlue);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    margin-right: 2%;
}

.exempleTag:hover {
    background-color: #58caff;
    cursor: pointer;
}

.alternativeButton {
    height: 3rem;
    width: 10rem;
    background-color: var(--lightBlue);
    border-radius: 2px;
    border-style: none;
    font-size: var(--subtitle);
    font-family: var(--bold);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

.alternativeButton:hover {
    background-color: var(--lightPurple);
    cursor: pointer;
}

.divPayment {
    height: 3rem;
    width: 21.5rem;
    background-color: var(--lightGrey);
    font-family: var(--regular);
    font-size: var(--smallText);
    color: var(--white);
    border-radius: 2px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: left;
}