@font-face {
    font-family: 'Poppins-Bold';
    src: url(../fonts/Poppins-Bold.ttf);
    font-family: 'Poppins-Medium';
    src: url(../fonts/Poppins-Medium.ttf);
}

/* Variables */
:root {
    /* Colors */
    --backGroundGrey: #272727;
    --darkGrey: #171717;
    --mediumGrey: #383838;
    --lightGrey: #4E4E4E;
    --lightBlue: #1E9CD7;
    --lightPurple: #861ED7;
    --white: #ffffff;

    --blueTag: #69E3E8;
    --purpleTag: #7B69E8;
    --yellowTag: #FFC700;
    --redTag: #E86969;

    /* Margin */
    --xxsMargin: 1rem;
    --xsMargin: 1.5rem;
    --sMargin: 2rem;
    --mMargin: 2.5rem;
    --lMargin: 3rem;
    --xlMargin: 4rem;
    --xxlMargin: 4.5rem;

    /* Font Size */
    --bigTitle: 2.5rem;
    /* Use with font-family: var(--bold) */
    --regularTitle: 2rem;
    /* Use with font-family: var(--bold) */
    --bigText: 1.5rem;
    /* Use with font-family: var(--regular) */
    --subtitle: 1.2rem;
    /* Use with font-family: var(--bold) */
    --smallSubtitle: 1rem;
    /* Use with font-family: var(--bold) */
    --smallText: 0.8rem;
    /* Use with font-family: var(--regular) */
    --extraSmallText: 0.7rem;
    /* Use with font-family: var(--regular) */

    /* Font Family */
    --bold: 'Poppins-Bold';
    --regular: 'Poppins-Medium';
}

/* Vaga "ver mais" */

.divVagaFather {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.divVagaBody {
    width: 90%;
    height: auto;
    margin-top: 8rem;
    margin-bottom: 4rem;
    border-radius: 5px;
    background-color: var(--mediumGrey);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 6.25rem;
    padding-bottom: 6.25rem;
}

.divVagaContent {
    width: 43.75rem;
    height: 100rem;
    background-color: rgba(166, 0, 255, 0.322);
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.pageTitle {
    font-family: var(--bold);
    font-size: var(--regularTitle);
    color: var(--white);
    margin: 0;
    padding-bottom: var(--xxsMargin);
}