@font-face {
    font-family: 'Poppins-Bold';
    src: url(../fonts/Poppins-Bold.ttf);
    font-family: 'Poppins-Medium';
    src: url(../fonts/Poppins-Medium.ttf);
}

/* Variables */
:root {
    /* Colors */
    --backGroundGrey: #272727;
    --darkGrey: #171717;
    --mediumGrey: #383838;
    --lightGrey: #4E4E4E;
    --lightBlue: #1E9CD7;
    --lightPurple: #861ED7;
    --white: #ffffff;

    --blueTag: #69E3E8;
    --purpleTag: #7B69E8;
    --yellowTag: #FFC700;
    --redTag: #E86969;

    /* Margin */
    --xxsMargin: 1%;
    --xsMargin: 2%;
    --sMargin: 5%;
    --mMargin: 10%;
    --lMargin: 20%;
    --xlMargin: 30%;
    --xxlMargin: 50%;

    /* Font Size */
    --bigTitle: 2.5rem;
    /* Use with font-family: var(--bold) */
    --regularTitle: 2rem;
    /* Use with font-family: var(--bold) */
    --subtitle: 1.2rem;
    /* Use with font-family: var(--bold) */
    --smallSubtitle: 1rem;
    /* Use with font-family: var(--bold) */
    --bigText: 1.5rem;
    /* Use with font-family: var(--regular) */
    --smallText: 0.8rem;
    /* Use with font-family: var(--regular) */
    --extraSmallText: 0.7rem;
    /* Use with font-family: var(--regular) */

    /* Font Family */
    --bold: 'Poppins-Bold';
    --regular: 'Poppins-Medium';
}

/* Vaga "ver mais" */

.divVagaFather {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.divVagaBody {
    padding: 1.5rem;
    max-width: 80%;
    width: 70rem;
    height: 100rem;
    margin-top: 8rem;
    margin-bottom: 4rem;
    border-radius: 5px;
    background-color: var(--mediumGrey);
    display: flex;
    align-items: center;
    justify-content: center;
}