@font-face {
    font-family: 'Poppins-Bold';
    src: url(../fonts/Poppins-Bold.ttf);
    font-family: 'Poppins-Medium';
    src: url(../fonts/Poppins-Medium.ttf);
}

body {
    margin: 0;
}

/* Variables */
:root {
    /* Colors */
    --backGroundGrey: #272727;
    --darkGrey: #171717;
    --mediumGrey: #383838;
    --lightGrey: #4E4E4E;
    --lightBlue: #1E9CD7;
    --lightPurple: #861ED7;
    --white: #ffffff;

    --blueTag: #69E3E8;
    --purpleTag: #4c2dfa;
    --yellowTag: #FFC700;
    --redTag: #fa2abf;

    /* Margin */
    --xxsMargin: 16px;
    --xsMargin: 24px;
    --sMargin: 32px;
    --mMargin: 40px;
    --lMargin: 48px;
    --xlMargin: 56px;
    --xxlMargin: 64px;

    /* Font Size */
    --bigTitle: 2.5rem;
    /* Use with font-family: var(--bold) */
    --regularTitle: 2rem;
    /* Use with font-family: var(--bold) */
    --bigText: 1.5rem;
    /* Use with font-family: var(--regular) */
    --subtitle: 1.2rem;
    /* Use with font-family: var(--bold) */
    --smallSubtitle: 1rem;
    /* Use with font-family: var(--bold) */
    --smallText: 0.8rem;
    /* Use with font-family: var(--regular) */
    --extraSmallText: 0.6rem;
    /* Use with font-family: var(--regular) */
    --miniText: 0.5rem;
    /* Use with font-family: var(--regular) */
    --microText: 0.42rem;
    /* Use with font-family: var(--regular) */

    /* Font Family */
    --bold: 'Poppins-Bold';
    --regular: 'Poppins-Medium';
}
@media screen and (max-width: 1025px) {

    /* Side Bar */
    .bigTitle {
        margin: 0;
        font-family: var(--bold);
        font-size: var(--subtitle);
        color: var(--white);
    }

    .bigTitle2 {
        font-family: var(--bold);
        font-size: var(--subtitle);
        color: var(--white);
        margin: 0;
        padding-bottom: 1%;
    }

    .subtitle {
        font-family: var(--bold);
        font-size: var(--smallText);
        color: var(--white);
        margin-top: 1rem;
    }

    .searchBarButton {
        height: 2rem;
        font-size: var(--extraSmallText);
    }

    .imgIcon2 {
        height: 1.2rem;
        margin: 0;
        transition: 0.5s;
    }

    .searchBar {
        height: 2rem;
        width: 100%;
        font-size: var(--smallText);
    }

    .searchBarSmall {
        height: 2rem;
        width: 60%;
        font-size: var(--smallText);
    }

    /* Feed */
    .divFeedMargin2 {
        height: 2.2rem;
    }

    .divVaga {
        width: 100%;
        height: 25rem;
        padding: 1.5% 2% 2% 2%;
        margin: 0;
    }

    .divVagaContent {
        width: 88%;
        margin-left: 2%;
        justify-content: flex-start;
    }

    .divDescriptionFormatter {
        width: 100%;
        height: 14rem;
        font-family: var(--regular);
        font-size: var(--extraSmallText);
        color: var(--white);
        background-color: var(--lightGrey);
        display: flex;
        align-items: center;
        justify-content: center;
        float: right;
    }

    .divDescription {
        width: 97%;
        height: 100%;
        overflow-y: auto;
    }

    .divTagsFormatter {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        margin: 0;
    }

    .divTags {
        width: 97%;
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0.5rem 0.15rem 0.5rem 0rem;
    }

    .tagDev {
        height: 1.5rem;
        width: 5rem;
        margin: 0.5rem 0.5rem 0.5rem 0.5rem;
        font-size: var(--miniText);
    }

    .tagPlatform {
        height: 1.5rem;
        width: 5rem;
        margin: 0.5rem 0.5rem 0.5rem 0.5rem;
        font-size: var(--miniText);
    }

    .tagBusyness {
        height: 1.5rem;
        width: 5rem;
        margin: 0.5rem 0.5rem 0.5rem 0.5rem;
        font-size: var(--miniText);
    }

    .tagArea {
        height: 1.5rem;
        width: 5rem;
        margin: 0.5rem 0.5rem 0.5rem 0.5rem;
        font-size: var(--miniText);
    }

    .alternativeButton {
        height: 2rem;
        width: 7.2rem;
        font-size: var(--smallSubtitle);
    }

    .divPayment {
        height: 2rem;
        width: 15rem;
        font-size: var(--extraSmallText);
    }
}

/* ----------------------------------------------- */
/* ----------------------------------------------- */
/* ----------------------------------------------- */

@media screen and (max-width: 832px) {

    /* Side Bar */
    .bigTitle {
        font-size: var(--subtitle);
    }

    .subtitle {
        font-family: var(--bold);
        font-size: var(--extraSmallText);
        color: var(--white);
        margin-top: 1rem;
    }

    .searchBarButton {
        height: 1.8rem;
        font-size: var(--extraSmallText);
    }

    .imgIcon2 {
        height: 1.2rem;
    }

    .marginBox {
        height: var(--xxxsMargin);
    }

    .smallText {
        font-size: var(--extraSmallText);
    }

    .searchBar {
        height: 1.8rem;
        font-size: var(--extraSmallText);
    }

    .searchBarSmall {
        height: 1.8rem;
        font-size: var(--extraSmallText);
    }

    .divFeedMargin2 {
        height: 1.2rem;
    }
}

/* ----------------------------------------------- */
/* ----------------------------------------------- */
/* ----------------------------------------------- */

.divSideBar {
    width:25%;
    height: 100%;
    position: fixed;
    background-color: var(--mediumGrey);
    z-index: 1;
    padding-right: 5%;
    display: flex;
    align-items: flex-start;
    /* padding-top: 3%; */
}

.divSideBarContainer {
    width: 80%;
    height: 70%;
    margin-left: 20%; 
   
}

.divSpaceBetween {
    display: flex;
    flex-direction: row;
   
}

.divSpaceBetween2 {
    display: flex;
    align-items: center;
    margin-top: -4rem;
   
}

.divSpaceBetween3 {
    margin-top: 0.2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.bigTitle {
    margin: 0;
    font-family: var(--bold);
    font-size: var(--regularTitle);
    color: var(--white);
}

.bigTitle2 {
    font-family: var(--bold);
    font-size: var(--regularTitle);
    color: var(--white);
    margin: 0;
    padding-bottom: 1%;
}

.subtitle {
    font-family: var(--bold);
    font-size: var(--subtitle);
    color: var(--white);
    margin: 0.5rem 0rem 0.5rem 0rem;
}


.divAlignLeft {
    display: contents;
    align-items: center;
    text-align: left;
    justify-content: space-between;
    margin-top: -10%;
}

.marginBox {
    height: var(--xsMargin);
}

.boxInline {
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: space-between;
}

.boxCheckbox {
    display: contents;
}

.smallText {
    font-family: var(--bold);
    font-size: var(--smallSubtitle);
    color: var(--white);
}

.checkbox {
    background-color: var(--white);
    border: none;
}

.searchBarButton {
    height: 2.5rem;
    width: 100%;
    background-color: var(--lightBlue);
    border-radius: 5px;
    border-style: none;
    font-size: var(--smallSubtitle);
    font-family: var(--bold);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    padding: 0;
}

.searchBarButton:hover {
    background-color: var(--lightPurple);
    cursor: pointer;
}

.infos{
    font-family: var(--bold);
    background-color: var(--lightGrey);
    color: var(--white);
    /* margin-top: 40%;
    width: 43%; */
    position: absolute;

    margin-top: 16rem;

}
.infos2{
    font-family: var(--bold);
    color: var(--white);
    margin-top: 18.9rem;
    position: absolute;
    /* margin-left: 10.1%; */
    cursor: pointer;
}
.infos3{
    font-family: var(--bold);
    color: var(--white);
    margin-top: 21.5rem;
    position: absolute;
    /* margin-left: 10.1%; */
    cursor: pointer;
}
.imgPlus{
    height: 2.2rem;
    margin: 0;
   padding-bottom: 6%;
}
.imgIcon2 {
    height: 8rem;
    margin-top: 6.1rem;
    transition: 0.5s;
    align-items: center;
    margin-left: 15%;
    position: absolute;
    
}

.sair{
    font-family: var(--bold);
    color: var(--white);
    margin-top: 28.9rem;
    margin-left: -8rem;
    cursor: pointer;
}
a{
    text-decoration: none;
}
.alternativeButton {
    height: 3rem;
    width: 10rem;
    background-color: var(--lightBlue);
    border-radius: 2px;
    border-style: none;
    font-size: var(--subtitle);
    font-family: var(--bold);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    padding: 0;
    margin-top: 24.9rem;
    margin-bottom: 1.7rem;
    /* margin-left: -75%; */

}
.alternativeButton:hover {
    background-color: var(--lightPurple);
    cursor: pointer;
}
.divCardsFormatter {
   flex-direction: column;
    margin-left: 37.3rem;
    
    height: auto;
    display: flex;

    width: auto;
   
   
}

.cardBody {
    
    width: 40rem;
    height: 3.3rem;
    background-color: var(--mediumGrey);
   font-family: var(--bold);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--white);
  

}
.nomeTitle {
    color: var(--white);
    font-family: var(--bold);
    font-size: var(--bigText);
margin-top: 6.4rem;

float: left;
}

.nomeDesc p {
    font-size: var(--smallSubtitle);
    font-family: var(--regular);
    padding: 0% 2% 0% 2%;
    align-items: center;
}

.cardBody2 {
    
    width: 40rem;
    height: 10rem;
    background-color: var(--mediumGrey);
   font-family: var(--bold);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--white);
  

}

.nomeTitle2 {
    color: var(--white);
    font-family: var(--bold);
    font-size: var(--bigText);

float: left;
}
.cardBody3 {
    
    width: 40rem;
    height: 10rem;
    background-color: var(--mediumGrey);
   font-family: var(--bold);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--white);
  

}
.nomeTitle3 {
    color: var(--white);
    font-family: var(--bold);
    font-size: var(--bigText);

float: left;
}

.cardBody4 {
    
    width: 40rem;
    height: 7rem;
    background-color: var(--mediumGrey);
   font-family: var(--bold);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--white);
    margin-bottom: 4rem;
  

}
.nomeTitle4 {
    color: var(--white);
    font-family: var(--bold);
    font-size: var(--bigText);

float: left;
}


