@font-face {
    font-family: 'Poppins-Regular';
    src: url(../fonts/Poppins-Regular.ttf);
    font-family: 'Poppins-Bold';
    src: url(../fonts/Poppins-Bold.ttf);
}

/* Variáveis */
:root {
    /* Colors */
    --backGroundGrey: #272727;
    --darkGrey: #171717;
    --mediumGrey: #383838;
    --lightGrey: #4E4E4E;

    /* Margin */
    --xxsMargin: 1%;
    --xsMargin: 2%;
    --sMargin: 5%;
    --mMargin: 10%;
    --lMargin: 20%;
    --xlMargin: 30%;
    --xxlMargin: 50%;

    /* Font Size */
    --bigTitle: 40px; /* Use with font-family: var(--bold) */
    --regularTitle: 32px; /* Use with font-family: var(--bold) */
    --subtitle: 24px; /* Use with font-family: var(--bold) */
    --bigText: 24px; /* Use with font-family: var(--regular) */
    --smallText: 16px; /* Use with font-family: var(--regular) */

    /* Font Family */
    --bold: 'Poppins-Bold';
    --regular: 'Poppins-Regular';
  }

body{
    margin: 0;
    background-color: var(--backGroundGrey);
}

.divHeaderFather{
    width: 100%;
    height: 100px;
    position: fixed;
    background-color: var(--darkGrey);
    align-items: center;
}

.divSideBar{
    width: 20%;
    height: max-content;
    position: fixed;
    background-color: var(--mediumGrey);
}