@font-face {
    font-family: 'Poppins-Regular';
    src: url(../fonts/Poppins-Regular.ttf);
    font-family: 'Poppins-Bold';
    src: url(../fonts/Poppins-Bold.ttf);
}

/* Variables */
:root {
    /* Colors */
    --backGroundGrey: #272727;
    --darkGrey: #171717;
    --mediumGrey: #383838;
    --lightGrey: #4E4E4E;
    --lightBlue: #1E9CD7;
    --lightPurple: #861ED7;
    --white: #ffffff;

    /* Margin */
    --xxsMargin: 1%;
    --xsMargin: 2%;
    --sMargin: 5%;
    --mMargin: 10%;
    --lMargin: 20%;
    --xlMargin: 30%;
    --xxlMargin: 50%;

    /* Font Size */
    --bigTitle: 40px;
    /* Use with font-family: var(--bold) */
    --regularTitle: 32px;
    /* Use with font-family: var(--bold) */
    --subtitle: 24px;
    /* Use with font-family: var(--bold) */
    --smallSubtitle: 20px;
    /* Use with font-family: var(--bold) */
    --bigText: 24px;
    /* Use with font-family: var(--regular) */
    --smallText: 16px;
    /* Use with font-family: var(--regular) */

    /* Font Family */
    --bold: 'Poppins-Bold';
    --regular: 'Poppins-Regular';
}

/* Scrollbar Configuration */
::-webkit-scrollbar {
    height: 20px;
    background-color: var(--darkGrey);
}

::-webkit-scrollbar-thumb {
    background-color: #ffffffaf;
    border-radius: 10px;
}

/* Body */
body {
    margin: 0;
    background-color: var(--backGroundGrey);
}

/* Header */
.divHeaderFather {
    width: 100%;
    height: 100px;
    position: fixed;
    background-color: var(--darkGrey);
    align-items: center;
    text-align: center;
    z-index: 2;
}

.divHeaderContainer {
    max-width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttonHeader {
    height: 45px;
    width: 200px;
    background-color: var(--lightBlue);
    border-radius: 10px;
    border-style: none;
    font-size: var(--subtitle);
    font-family: var(--bold);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

.buttonHeader:hover {
    background-color: var(--lightPurple);
    cursor: pointer;
}

.divButtons {
    width: 780px;
    display: flex;
    align-items: center;
    justify-content: right;
}

.imgIcon {
    height: 45px;
    margin: 0px;
}

.imgProfile {
    height: 52px;
    margin: 0px;
    display: flex;
    align-items: center;
}

/* Side Bar */
.divSideBar {
    width: 25%;
    height: 100%;
    position: fixed;
    background-color: var(--mediumGrey);
    z-index: 1;
    padding-right: 5%;
    display: flex;
    align-items: flex-start;
}

.divSideBarContainer {
    width: 80%;
    height: 70%;
    margin-left: 20%;
    margin-top: 20%;
}

.divSpaceBetween {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -10%;
}

.divSpaceBetween2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bigTitle {
    font-family: var(--bold);
    font-size: var(--regularTitle);
    color: var(--white);
}

.subtitle {
    font-family: var(--bold);
    font-size: var(--subtitle);
    color: var(--white);
}

.imgIcon2 {
    height: 32px;
    margin: 0px;
    transition: 0.5s;
}

.imgIcon2:hover {
    height: 32px;
    margin: 0px;
    transform: rotate(90deg);
    cursor: pointer;
}

.divAlignLeft {
    display: contents;
    align-items: center;
    text-align: left;
    justify-content: space-between;
    margin-top: -10%;
}

.marginBox {
    height: var(--xsMargin);
}

.boxInline {
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: space-between;
}

.boxCheckbox {
    display: contents;
}

.smallText {
    font-family: var(--bold);
    font-size: var(--smallSubtitle);
    color: var(--white);
}

.checkbox {
    background-color: var(--white);
    border: none;
}

/* Search Bar */
.searchBar {
    height: 45px;
    width: 100%;
    background-color: var(--lightGrey);
    border-radius: 5px;
    font-family: var(--bold);
    font-size: var(--subtitle);
    color: var(--white);
    border: none;
}

.searchBarSmall {
    height: 45px;
    width: 60%;
    background-color: var(--lightGrey);
    border-radius: 5px;
    font-family: var(--bold);
    font-size: var(--subtitle);
    color: var(--white);
    border: none;
    margin-right: var(--lMargin);
}

/* Feed */
.divFeedFormatter {
    margin-left: 35%;
    width: 60%;
    height: 1000px;
    background-color: #1E9CD7;
}